@charset 'UTF-8';

*
{
	font-family: Verdana;
}

#nav
{
	background-color: #000000;
	font-size: 1em;
        text-align: center;
        position: fixed;
        left: 0; /*no left margin*/
        top: 0;  /*no top margin*/
	width: 100%; /*makes the navbar fully width*/
        z-index: 10000;
        cursor: default;
}
        
#nav li
{
	display: inline-block;
}

#nav a
{
	position: relative;/**/
	display: block; /**/
	color: #fff; 
	text-decoration: none;
	padding: 0 1em 0 1em;
	left-margin:0.1em;
	right-margin:0.1em;
	border-radius:40%;
}
#nav a:hover
{
	background-color:#333333;
}
.wrapper
{
	text-align:center;
	padding: 0em 0 0em 0;
}
.container
{
	display:inline-block;
	padding:5em;
}
#who
{
}
#logo
{
    width: 26em;
    height: 26em;
    background-image: url(../images/me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    /*Border Radius*/
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    /*Shadow*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#name
{
}
#social
{

}

#social ul
{
    padding: inherit;
}

#social li
{
    display: inline-block;
    margin: 1em;

}
#social li a
{
     
}
.box
{
    margin: 2em;
    padding: 1em;
    display:inline-block;
    width:20em;
}