@charset 'UTF-8';

*
{
	font-family: Verdana;
}

#nav
{
	background-color: black;
	font-size: 1em;
    text-align: center;
    position: fixed;
    left: 0; /*no left margin*/
    top: 0;  /*no top margin*/
	width: 100%; /*makes the navbar fully width*/
    z-index: 10000;
    
}
        
#nav li
{
	display: inline-block;
}

#nav a
{
	position: relative;/**/
	display: block; /**/
	color: #fff; 
	text-decoration: none;
	padding: 0 1em 0 1em;
	left-margin:0.1em;
	right-margin:0.1em;
	border-radius:40%;
}

#nav a:hover
{
	background-color:#333333;
}

.wrapper
{
	text-align:center;
	padding: 0em 0 0em 0;
}

.container
{
    text-align: center;
	display:inline-block;
	padding:5em;
}

#logo
{
    width: 26em;
    height: 26em;
    background-image: url(../images/me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    /*Border Radius*/
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    /*Shadow*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#social ul
{
    padding: inherit;
}

#social li
{
    display: inline-block;
    margin: 1em;

}

.box
{
    margin: 2em;
    padding: 1em;
    display:inline-block;
    width:20em;
}

.box img
{
    max-height: 100px;
    max-width: 100px;
}

.twitter-color
{
    color: #55ACEE;
}

.twitter-color:hover
{
    color: #358CCE;
}

.google-plus-color
{
    color: #DD4B39;
}

.google-plus-color:hover
{
    color: #BD2B19;
}

.facebook-color
{
    color: #43609C;
}

.facebook-color:hover
{
    color: #23407C;
}

.linkedin-color
{
    color: #0077B5;
}

.linkedin-color:hover
{
    color: #005795;
}

nav li i
{
    color: white;
}

#contact
{   
    float: right;
    margin-right: 30px;

}

#navinit
{
    margin-left: 50px;
}